# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'ali' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

In [2]:
# empty dictionary
d = {}
print(d)

# 1D dictionary
d1 = { 'name' : 'ali' ,'gender' : 'male' }
print(d1)

# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
print(d2)

# 2D dictionary -> JSON
s = {
    'name':'amir',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
print(s)

# using sequence and dict function
d4 = dict([('name','amir'),('age',32),(3,3)])
print(d4)

# duplicate keys
d5 = {'name':'amir','name':'ali'}
print(d5)
# mutable items as keys
d6 = {'name':'amir',(1,2,3):2}
print(d6)

{}
{'name': 'ali', 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'amir', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
{'name': 'amir', 'age': 32, 3: 3}
{'name': 'ali'}
{'name': 'amir', (1, 2, 3): 2}

### Accessing items

In [3]:
my_dict = {'name': 'Jack', 'age': 26}
# []
print(my_dict["name"])
print(my_dict["age"])

Jack
26

In [4]:
# get
print(my_dict.get("name"))
print(my_dict.get("age"))

Jack
26

In [5]:
# Accessing math marks 2D dict
print(s)

s["subjects"]["maths"]

{'name': 'amir', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

67

In [6]:
s["subjects"]["phy"] = 76
s

{'name': 'amir',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'phy': 76}}

### Adding key-value pair

In [7]:
my_dict = {'name': 'Jack', 'age': 26}

my_dict['gender'] = 'male'

my_dict

{'name': 'Jack', 'age': 26, 'gender': 'male'}

### Remove key-value pair

In [8]:
d = {'name': 'Jack', 'age': 26, 'gender': 'male'}

In [9]:
# pop
d.pop('age')
d

{'name': 'Jack', 'gender': 'male'}

In [10]:
# popitem
d.popitem()

('gender', 'male')

In [11]:
# del
del d["name"]
d

{}

In [12]:
# clear
d.clear

In [13]:
del s["subjects"]["phy"]
s

{'name': 'amir',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

### Editing key-value pair

In [14]:
s['subjects']['dsa'] = 80
s

{'name': 'amir',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'maths': 67, 'english': 34}}

In [15]:
d['age'] = 20
d

{'age': 20}

### Dictionary Operations

- Membership
- Iteration

In [16]:
d = {'name': 'Jack', 'age': 26, 'gender': 'male'}

# check if a key is in the dictionary
'name' in d  # True

# check if a key is not in the dictionary
'address' not in d

True

In [17]:
for key in d:
    print(key)

name
age
gender

In [18]:
for value in d.values():
    print(value)

Jack
26
male

In [19]:
for key, value in d.items():
    print(f"{key}: {value}")

name: Jack
age: 26
gender: male

### function

In [20]:
# len
len(d)

3

In [22]:
# sorted
print(sorted(d))
print(sorted(d,reverse=True))

['age', 'gender', 'name']
['name', 'gender', 'age']

In [23]:
# min key
min(d)

'age'

In [24]:
# max key
max(d)

'name'

In [25]:
# key
d.keys()

dict_keys(['name', 'age', 'gender'])

In [26]:
# values
d.values()

dict_values(['Jack', 26, 'male'])

In [27]:
# items (key,value)
d.items()

dict_items([('name', 'Jack'), ('age', 26), ('gender', 'male')])

### Dictionary Comprehension

In [28]:
# creating a dictionary where keys are numbers and values are their squares
squares = {x: x**2 for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [29]:
# creating a dictionary with even numbers and their squares
even_squares = {x: x**2 for x in range(10) if x % 2 == 0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [30]:
# using existing dict
distances = {'lhr':1000,'mul':2000,'kr':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'lhr': 620.0, 'mul': 1240.0, 'kr': 1860.0}

In [31]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [32]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [42]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j :i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}