 ### Display Output

In [4]:
# print function
print("Hello, World!")

a = 'Hello, World'
print(a)

print(78)
      
print(True)

name = "Alice"
age = 30
print("Name:", name, "Age:", age)

Hello, World!
Hello, World
78
True
Name: Alice Age: 30

### Data types

In [21]:
# interger
x = 10
y = -5
print(x)
print(y)

10
-5

In [20]:
# float
x = 10.5
y = -2.3
print(x)
print(y)

10.5
-2.3

In [19]:
# complex
z = 2 + 3j
print(z)

(2+3j)

In [18]:
# Boolean
is_valid = True
is_empty = False
print(is_empty)
print(is_valid)

False
True

In [17]:
# string
s = "Hello, World!"
print(s)

Hello, World!

In [16]:
# list
my_list = [1, 2, "apple", 3.5]
print(my_list)

[1, 2, 'apple', 3.5]

In [15]:
# tuple
my_tuple = (1, 2, "apple", 3.5)
print(my_tuple)

(1, 2, 'apple', 3.5)

In [14]:
# sets
s= {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [13]:
# distionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [12]:
# None
x = None
print(x)

None

### type function
This function tells type

In [23]:
print(type(2))
print(type(2.22))
print(type(True))
print(type(2 + 3j))
print(type([1,3.5]))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>

# Variable

In [30]:
x = 10         # x is an integer
name = "Alice" # name is a string
pi = 3.14      # pi is a float

print(x)
print(name)
print(pi)

10
Alice
3.14

In [29]:
a = 5
b = 10
c = a + b  # c now holds the value 15

print(a)
print(b)
print(c)

5
10
15

In [28]:
x, y, z = 1, 2, 3  # x=1, y=2, z=3

print(x)
print(y)
print(z)

1
2
3

In [31]:
<html><head>


<!-- Load require.js. Delete this if your page already loads require.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js" integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@jupyter-widgets/html-manager@*/dist/embed-amd.js" crossorigin="anonymous"></script>
<script type="application/vnd.jupyter.widget-state+json">
{
    "version_major": 2,
    "version_minor": 0,
    "state": {}
}
</script>
</head>
<body>


</body>
</html>

SyntaxError: invalid syntax (2251628308.py, line 1)