# List
list is a built-in data structure that is used to store an ordered collection of items. Lists are versatile and can hold items of different types, such as integers, strings, or other lists. They are mutable, meaning you can change their content after they are created.

### Array Vs Lists

- Fixed Vs Dynamic Size
- Convenience -> Hetrogeneous
- Slow Speed of Execution(list)
- large Memory(list)

### Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed 
- can contain any kind of objects in python

In [1]:
# Empty list
print([])

# 1D -> Homogenous list
print([1,2,3,4,5])

# 2D list
print([1,2,3,[4,5]])

# 3D list
print([[[1,2],[3,4]],[[5,6],[7,8]]])

# Hetrogenous list
print([1,True,5.6,5+6j,'Hello'])

# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

## Indexing and slicing

In [66]:
# postive
a=[1,2,3,4,5,6,7,8,9,10]
print(a[1])
print(a[1:])
print(a[:4])

# negative
print(a[-1])
print(a[-1:])
print("reverse order :",a[::-1]) #print in reverse order
print(a[:-4])
# alternative elements
print(a[::2]) #print after 1 element

2
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4]
10
[10]
reverse order : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]
[1, 3, 5, 7, 9]

In [13]:
# 2D
a=[1,2,3,4,5,6,7,8,[9,10]]
print(a[8])

print(a[8][0])

print(a[-1])

[9, 10]
9
[9, 10]

In [26]:
# 3D
a = [[[1,2],[3,4]],[[5,6],[7,8]]]
print(a[0])
# extract 3
print(a[0][1][0])
# extract 5
print(a[1][0][0])

[[1, 2], [3, 4]]
3
5

## Adding item in list

In [31]:
a=[1,2,3,4,5,6,7]

# append(add one element in list at end)
a.append(8)
print(a)

# add multiple element in list using append
a.append([9,10]) # it make 2D list
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, [9, 10]]

In [33]:
a=[1,2,3,4,5,6,7]

# extent(add multiple element in list)
a.extend([9,10])
print(a)


a.extend('hello')
print(a)

[1, 2, 3, 4, 5, 6, 7, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 9, 10, 'h', 'e', 'l', 'l', 'o']

In [37]:
a=[1,2,3,4,5,6,7]

# insert (add element at given postion)
a.insert(7,8) #(index,element)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 8]

## Editing items in a list

In [40]:
a=[1,2,3,4,5,6,7]

# editing with indexing
a[0] = 100
print(a)

# editing with sclicing
a[1:4] = [200,300,400]
print(a)

[100, 2, 3, 4, 5, 6, 7]
[100, 200, 300, 400, 5, 6, 7]

 ## Deleting items from a List

In [44]:
# del (use index)    
a=[1,2,3,4,5,6,7,8,9]

# del with indexing
del a[1]
print(a)

# del with sclicing
del a[0:3]
print(a)

[1, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]

In [46]:
# remove (find element and del)
a=[1,2,3,4,5,6,7,8,9]

# del 3 
a.remove(3)
print(a)

[1, 2, 4, 5, 6, 7, 8, 9]

In [50]:
# pop (del using index and del last element)
a=[1,2,3,4,5,6,7,8,9]

# del at index 4
a.pop(4)
print(a)

# del last element
a.pop()
print(a)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 6, 7, 8]

In [52]:
# clear (del all element of list)
a=[1,2,3,4,5,6,7,8,9]

a.clear()
print(a)

[]

## Operations on Lists

- Arithmetic
- Membership
- Loop

In [53]:
# Arithmetic (+,*)

a = [1,2,3,4]
b = [5,6,7,8]

print(a + b) # concatenation / merge

[1, 2, 3, 4, 5, 6, 7, 8]

In [55]:
a = [1,2,3,4]

print(a * 2) # merge two time a list

[1, 2, 3, 4, 1, 2, 3, 4]

In [57]:
# Membership 
a = [1,2,3,4,7]

print(1 in a)
print(1 not in a)

True
False

In [59]:
a = [1,2,7,[4,5],8,9] 

print( 5 in a)
print( [4,5] in a)

False
True

In [60]:
# loop 
a=[1,2,3,4,5,6,7,8,9]

for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [61]:
# 2D
a=[1,2,3,4,5,6,7,8,[9,10]]
for i in a:
    print(i)

1
2
3
4
5
6
7
8
[9, 10]

In [62]:
# 3D
a = [[[1,2],[3,4]],[[5,6],[7,8]]]
for i in a:
    print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

In [63]:
# print list by loop
a = ['amir','rehman','rafaty','fazeel','salman','anas','ans','bilal','talha']
b=[5.8,5.2,5.5,4,4.5,6,5.6,6,4.8]
c=[70,59,45,66,77,45,90,45,65]

for i in range(len(a)):
    print(f"your name is {a[i]} and your height is {b[i]} and your weight {c[i]}")

your name is amir and your height is 5.8 and your weight 70
your name is rehman and your height is 5.2 and your weight 59
your name is rafaty and your height is 5.5 and your weight 45
your name is fazeel and your height is 4 and your weight 66
your name is salman and your height is 4.5 and your weight 77
your name is anas and your height is 6 and your weight 45
your name is ans and your height is 5.6 and your weight 90
your name is bilal and your height is 6 and your weight 45
your name is talha and your height is 4.8 and your weight 65

## List Functions

In [68]:
a=[1,0,3,21,5,6,22,8,19,10]

# len
print(len(a))

10

In [70]:
# sorted
# ascending order
print(sorted(a))

# descending order

print(sorted(a,reverse=True))

[0, 1, 3, 5, 6, 8, 10, 19, 21, 22]
[22, 21, 19, 10, 8, 6, 5, 3, 1, 0]

In [72]:
# count
a=[1,0,3,21,5,6,3,22,8,19,1]
a.count(1)

2

In [74]:
# index
a=[1,0,3,21,5,6,3,22,8,19,1]
a.index(1)

0

In [76]:
# reverse
a=[1,2,3,4,5,6,7,8,9,10]
a.reverse() # it change parments
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [78]:
# sort
a=[1,0,3,21,5,6,22,8,19,10]
a.sort() # it change parments
a

[0, 1, 3, 5, 6, 8, 10, 19, 21, 22]

In [79]:
# copy 
b = a.copy()
b

[0, 1, 3, 5, 6, 8, 10, 19, 21, 22]

In [80]:
# zip
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
## statistics operation on list

In [81]:
import statistics

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# calculate minimum
min_value = min(numbers)

# calculate maximum
max_value = max(numbers)

# calculate sum
sum_value = sum(numbers)

# calculate variance
variance_value = statistics.variance(numbers)

# calculate standard deviation
std_dev_value = statistics.stdev(numbers)

# calculate mean (average)
mean_value = statistics.mean(numbers)

# calculate median
median_value = statistics.median(numbers)

# calculate mode (most common value)
mode_value = statistics.mode(numbers) 

# print the results
print(f"List: {numbers}")
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Sum: {sum_value}")
print(f"Variance: {variance_value}")
print(f"Standard Deviation: {std_dev_value}")
print(f"Mean: {mean_value}")
print(f"Median: {median_value}")
print(f"Mode: {mode_value}")

List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Minimum: 1
Maximum: 10
Sum: 55
Variance: 9.166666666666666
Standard Deviation: 3.0276503540974917
Mean: 5.5
Median: 5.5
Mode: 1

## List Comprehension

List Comprehension provides a concise way of creating lists.

In [3]:
a = [i for i in range (1,100)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [16]:
# square from 1 to 100
sq = [i**2 for i in range(1,10)]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
# Print all numbers divisible by 5 in the range of 1 to 50
a = [i for i in range(1,100) if i % 5 == 0]
a

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [18]:
# find languages which start with letter j

languages = ['java','python','php','c','javascript']

[i for i in languages if i.startswith("j")]

['java', 'javascript']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

[i for i in my_fruits if i in basket if i.s]

In [1]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]