## Strings
Strings are sequence of Characters
tring is a sequence of characters enclosed within single quotes ('...'), double quotes ("..."), triple single quotes ('''...'''), or triple double quotes ("""..."""). Strings are used to represent textual data and can include letters, numbers, symbols, and whitespace characters


In Python specifically, strings are a sequence of Unicode Characters

### Creating Strings

In [5]:
# single-quoted string
single_quoted = 'Hello, World!'
print(single_quoted)

# double-quoted string
double_quoted = "Hello, World!"
print(double_quoted)

# triple single-quoted string (can span multiple lines)
triple_single_quoted = '''This is a string
that spans multiple lines.'''
print(triple_single_quoted)

# triple double-quoted string (can also span multiple lines)
triple_double_quoted = """This is another string
that spans multiple lines."""
print(triple_double_quoted)

# str

s = str("hello world")
print(s)

Hello, World!
Hello, World!
This is a string
that spans multiple lines.
This is another string
that spans multiple lines.
hello world

In [6]:
# Regular string with escape sequences
regular_string = "This is a newline character: \nThis is a tab character: \tEnd of string."

# Raw string treats backslashes as literal characters
raw_string = r"This is a newline character: \nThis is a tab character: \tEnd of string."

print("Regular string:")
print(regular_string)
print("Raw string:")
print(raw_string)

Regular string:
This is a newline character:
This is a tab character: 	End of string.
Raw string:
This is a newline character: \nThis is a tab character: \tEnd of string.

### Accessing Strings

In [10]:
# indexing
s = 'hello world'

# postive indexing
print(s[0])
print(s[5]) # blank space
print(s[3])

# negative indexing
print(s[-1])
print(s[-5]) 
print(s[-3])

h

l
d
w
r

In [19]:
# Slicing

# postive Slicing
print(s[:])
print(s[0:4])
print(s[2:3])
print(s[::2]) # skip one letter (step size)
print(s[::-1]) # reverse string

hello world
hell
l
hlowrd
dlrow olleh

In [25]:
# Slicing

# negative Slicing
print(s[-5:])
print(s[-3:-2])
print(s[-1:-6:-1])

world
r
dlrow

### Adding Chars to Strings

In [28]:
s[0] ='H'

# python string immutable

TypeError: 'str' object does not support item assignment

### Deleting Strings

In [29]:
# delete string
del s

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [30]:
# Arithmetic Operations
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [33]:
str1 = "Ha"
result = str1 * 3
print(result)
print('-'* 40)

HaHaHa
----------------------------------------

In [32]:
str1 = "apple"
str2 = "banana"
print(str1 == str2)  
print(str1 != str2)

False
True

In [34]:
# Relational Operations 
str1 = "apple"
str2 = "banana"
print(str1 == str2)
print(str1 != str2)

False
True

In [35]:
print(str1 < str2)  
print(str1 > str2)

True
False

In [36]:
# Logical Operations

str1 = "Hello"
str2 = ""
print(bool(str1) and bool(str2))

False

In [37]:
print(bool(str1) or bool(str2))

True

In [38]:
print(not bool(str1)) 
print(not bool(str2))

False
True

In [ ]:
# Loops on Strings
str1 = "Hello"
for char in str1:
    print(char)

In [39]:
str1 = "Hello"
i = 0
while i < len(str1):
    print(str1[i])
    i += 1

H
e
l
l
o

In [40]:
# Membership Operations
str1 = "Hello, World!"
print("World" in str1)  
print("Python" in str1)

True
False

In [41]:
print("Python" not in str1) 
print("World" not in str1)

True
False

- String Functions